In [ ]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [ ]:
sns.get_dataset_names()

In [ ]:
df = sns.load_dataset("taxis")

In [ ]:
df.head()

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.isnull().sum()

In [ ]:
df.shape

In [ ]:
sns.set_theme(style="dark")

In [ ]:
plt.title('Heatmap for taxis')
sns.heatmap(df.corr(), annot = True, cmap = 'cividis', cbar = False)
plt.show()

In [ ]:
plt.title('Heatmap for checking null value exists or not')
sns.heatmap(df.isnull())
plt.show()

In [ ]:
df['pickup_zone'].nunique()

In [ ]:
df['payment'].nunique()

In [ ]:
df['payment'].fillna(df['payment'].mode, inplace = True)

In [ ]:
df['dropoff_borough'].fillna(df['dropoff_borough'].mode, inplace = True)

In [ ]:
df['pickup_borough'].fillna(df['pickup_borough'].mode, inplace = True)

In [ ]:
df.isnull().sum()

In [ ]:
df.shape

In [ ]:
df1 = df.dropna()

In [ ]:
df1.shape

In [ ]:
df1.reset_index()

In [ ]:
df1.isnull().sum() # NO null value exist here.

In [ ]:
plt.title('Heatmap for checking null value exists or not')
sns.heatmap(df1.isnull())
plt.show()

In [ ]:
df1.info()

In [ ]:
df1.head(6)

In [ ]:
plt.title('Scatter plot between tips and total')
plt.xlabel('Total')
plt.ylabel('Tip')
sns.scatterplot(x= df1['total'], y = df1['tip'])
plt.show()

In [ ]:
plt.title('Countplot for payment method')
sns.countplot(df1['payment'])
plt.show()

In [ ]:
sns.lmplot(x = 'fare', y = 'distance', data = df1, line_kws={'color': 'orange'},
           scatter_kws={"s": 10, "alpha": 0.5, 'color':'orange'}) 
#  Here, outliers have been removed.
plt.xlabel('Fare')
plt.title("Line plot between fare and distance")
plt.ylabel('Distance')
plt.show()

In [ ]:
df1[df1['distance']>35]

In [ ]:
df2 = df1[df1.distance != 36.7]

In [ ]:
df2.shape

In [ ]:
sns.lmplot(x = 'fare', y = 'distance', data = df2, line_kws={'color': 'orange'},
           scatter_kws={"s": 10, "alpha": 0.5, 'color':'orange'}) 
#  Here, outliers have been removed.
plt.xlabel('Fare')
plt.ylabel('Distance')
plt.title("Line plot between fare and distance")
plt.show()

In [ ]:
df2['color'].value_counts()

In [ ]:
plt.title("Count plot for taxi's color")
sns.countplot(x=df2["color"])
plt.show()